<form id="text-input-form" class="form-rest">
    <p>Enter text here and press Ok:</p>
    <label class="text">
        <textarea id="text-entry" rows="10" cols="100">{{originalText}}</textarea>
    </label>
</form>
